section.about{
  background-image: url("/images/bg-about.png");
  background-repeat: round;
  display: flex;
  align-items: center;
  justify-content: center;

  .about-box {
    display: flex;
    align-items: center;
    padding: 80px 60px;
    background: rgba(255, 255, 255, 0.90);
    width: 840px;
    max-width: 100%;
    margin: 16px;
    img{
      max-width: 220px;
    }
    .text{
      text-align: left;
      h1{
        font-weight: 400;
        margin-bottom: 16px;
      }
      p{
        font-size: 24px;
        font-weight: 300;
        color: #212121;
      }
    }
  }


  @media only screen and (max-width: 767px){
    img{
      display: none;
    }
    .about-box{
      padding: 24px 12px;
    }
  }

  @media only screen and (min-width: 768px){
    .text{
      padding: 0 0 0 60px;
    }
  }

}
