header {

  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 10px 20px 0;
  box-sizing: border-box;
  font-size: 14px;
  z-index: 16;

  input {
    position: fixed;
    left: -9999px;
    opacity: 0;
  }

  nav {
    max-width: 940px;
    margin: 0 auto;
    font-weight: 300;
  }

  ul{
    margin: 0;
    li{
      list-style: none;
      &:last-child {
        font-weight: 500;
      }
    }
  }

  @media only screen and (min-width: 991px){

    ul {
      display: flex;
      justify-content: center;
      margin: 0;
      li {
        float: left;
        padding: 5px 15px;
        a {
          display: block;
          color: #fff;
          position: relative;
          &:visited{
            color: #fff;
          }
        }
      }
    }

  }

  @media only screen and (max-width: 992px){

    input:checked ~ .menu-control {
      -webkit-transform: translate(-250px, 0);
      transform: translate(-250px, 0);
    }

    input:checked ~ .menu-control-close {
      left: 0;
    }

    .menu-control {
      position: absolute;
      right: 40px;
      top: 50px;
      display: block;
      width: 30px;
      padding: 5px 0;
      border: solid #fff;
      border-width: 3px 0;
      z-index: 3;
      cursor: pointer;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      -webkit-transition: all 350ms ease-in-out;
      transition: all 350ms ease-in-out;
    }

    .menu-control:before {
      content: "";
      display: block;
      height: 3px;
      background: #fff;
    }

    .menu-control-close {
      position: fixed;
      top: 0;
      left: 100%;
      right: 0;
      bottom: 0;
      z-index: 2;
      background: rgba(0, 0, 0, 0.6);
      -webkit-transition: left 350ms ease-in-out;
      transition: left 350ms ease-in-out;
    }

    ul {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 250px;
      background: #cddc39;
      z-index: 3;
      transition: all 0.5s ease-in-out;
      -webkit-transform: translate(100%, 0);
      transform: translate(100%, 0);
      a {
        color: #000;
        display: block;
        padding: 10px 20px;
        font-size: 15px;
      }
    }
    input:checked ~ nav ul {
      -webkit-transform: translate(0%, 0);
      transform: translate(0%, 0);
    }

  }

}
