.place{
  background-image: linear-gradient(to bottom, #5e0777, #fe5196);

  h1{
    margin-bottom: 36px;
  }

  #iframe-box{
    position: relative;
    padding: 130px;
    height: 0;
    overflow: hidden;
    margin: 0 70px;
    iframe{
      pointer-events: none;
      position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
  }

  @media only screen and (max-width: 849px){
    #iframe-box{
      position: relative;
      padding: 140px;
      height: 0;
      overflow: hidden;
      margin: 0 20px;
    }
  }

}
