.place{
  background-image: url("/images/bg-place.svg"), linear-gradient(to bottom, #5e0777, #fe5196);
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #fff;

  .place-title{
    top: 0px;
  }
  .place-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    #iframe-box{
      iframe{
        pointer-events: none;
        border: 0;
      }
    }
    .info{
      margin-left: 72px;
    }
  }

  a{
    margin-top: 24px;
    display: block;
    border-radius: 2px;
    background-color: #cddc39;
    max-width: 165px;
    padding: 10px 32px;
    font-weight: 500;
    color: #212121;
    &:visited{
      color: #212121;
    }
  }


  @media only screen and (max-width: 767px){
    .place-info{
      flex-direction: column;
      .info{
        text-align: center;
        margin-left: 0;
        margin-top: 16px;
      }
      #iframe{
        width: 220px;
        height: 220px;
      }
    }
  }

  @media only screen and (max-width: 1023px){
    .place-info{
      #iframe{
        width: 300px;
      }
    }
  }

  @media only screen and (max-width: 991px){
    .place-info{
      #iframe{
        width: 300px;
      }
    }
  }

  @media only screen and (min-width: 1169px){
    background-size: 100%;
  }

}
