.schedule{
  background-image: url(/images/bg-programacao.png);
  color: #fff;

  .body.lightning{
    p:not(:first-child){
      margin-top: 10px;
    }
  }

  .entry:hover{
    .title:before{
      background-color: #cddc39 !important;
      border: 4px solid #cddc39 !important;
    }
  }
}
