section {
  position: relative;
  text-align: center;
  min-height: 100%;
  background-color: #fff;

  &.welcome, &.about{
    background-position: top center;
    background-attachment: fixed;
    background-attachment: scroll;
    background-size: cover;
  }

}
