.speakers{

  background-color: #000;
  color: #fff;

  .speakers-box{
    display: flex;
    justify-content: center;
    margin-top: 32px;

    .left-star{
      margin: 60px 40px 0;
    }

    .center-speakers{
      width: 600px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .right-star{
      margin: 0 40px;
      display: flex;
      align-items: flex-end;
    }

    .speaker{
      margin: 60px 20px 0;
      img{
        max-width: 160px;
        height: auto;
        display: block;
      }
    }
  }

  &.lightning{
    .speakers-box{
      .speaker{
        margin: 60px 13px 0;
        img{
          max-width: 120px;
          height: auto;
          display: block;
        }
      }
    }
  }

  @media only screen and (max-width: 850px){
    .speakers-box{
      padding-bottom: 32px;
      .left-star, .right-star{
        display: none !important;
      }
    }
  }

}
