.speakers{
  background-color: #000;
  color: #fff;

  .title {
    color: #fff;
  }

  .speakers-box{
    display: flex;
    justify-content: center;

    .left-star{
      margin: 60px 40px 0;
    }

    .center-speakers{
      width: 600px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .right-star{
      margin: 0 40px;
      display: flex;
      align-items: flex-end;
    }

    .speaker{
      margin: 60px 20px 0;
      position: relative;
      img{
        max-width: 160px;
        height: auto;
        display: block;
      }
      .speaker-name{
        margin-top: 10px;
        color: #cddc39;
        font-weight: 800;
      }
      .speaker-info{
        margin-top: 3px;
        max-width: 160px;
      }
    }
  }

  &.lightning{
    color: #fff;

    .title, .description{
      z-index: 2;
      position: relative;
    }
    &:before{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      content: "";
      position: absolute;
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
      background-image: linear-gradient(131deg, #3023ae, #c96dd8);
    }

    .description{
      margin: 24px;
      font-weight: 300;
      a{
        display: block;
        border-radius: 2px;
        max-width: 165px;
        margin: 24px auto;
        padding: 15px 0 14px;
        cursor: pointer;
        color: #212121;
        font-weight: 500;
        border-radius: 2px;
        background-color: #ffffff;
        &:visited{
          color: #212121;
        }
        &:hover{
          background-color: #000;
          color: #fff;

        }
      }
    }

    .speakers-box{
      .speaker{
        margin: 60px 13px 0;
        img{
          max-width: 120px;
          height: auto;
          display: block;
        }
        .speaker-name{
          margin-top: 10px;
          color: #fff;
          font-weight: 300;
        }
        .speaker-info{
          margin-top: 3px;
          max-width: 160px;
          color: #000;
        }
      }
    }
  }

  @media only screen and (max-width: 850px){
    .speakers-box{
      .left-star, .right-star{
        display: none !important;
      }
    }
  }

}
