.sponsors{
  font-size: 24px;
  font-weight: 300;
  background-color: #fff;

  .aligner{
    display: flex;
    justify-content: space-around;

    .gold,.silver,.bronze{
      margin-top: 24px;
      .img-aligner{
        min-height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
          max-width: 300px;
        }
      }
    }
    &.support{
      margin: 40px 0;
      flex-wrap: wrap;
      justify-content: space-around;
      .support-item{
        margin: 24px 0;
        img{
          width: 130px;
          height: 130px;
        }
      }
    }
  }


  @media only screen and (max-width: 767px){
    .aligner{
      flex-direction: column;
      .gold,.silver,.bronze{
        .img-aligner{
          display: block;
          min-height: auto;
        }
      }
    }
  }

}
//
// .support{
//   background-color: #fff;
//
//   .aligner{
//     margin-top: 40px;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     .support-item{
//       width: calc(100% * (1/4) - 10px - 1px);
//       margin: 24px 0;
//       img{
//         width: 100px;
//         height: 100px;
//       }
//     }
//   }
//
//   @media only screen and (max-width: 767px){
//     .aligner{
//       .support-item{
//         width: calc(100% * (1/2) - 10px - 1px);
//       }
//     }
//   }
//
// }
