.sponsors{
  font-size: 24px;
  font-weight: 300;
  background-color: #fff;

  .aligner{
    margin: 24px 0 80px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 50px auto;

    .sponsor-item{
      width: calc(50% - 40px);
      margin: 40px 20px;
      .img-aligner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
          max-width: 312px;
        }
      }
    }
    &.support{
      margin: 40px auto 0;
      flex-wrap: wrap;
      justify-content: space-around;
      .support-item{
        margin: 24px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:last-child{
          margin: 24px 0 0;
        }
        img{
          max-width: 156px;
        }
      }
    }
  }


  @media only screen and (max-width: 960px){
    .aligner{
      flex-direction: column;
      .sponsor-item{
        width: 100%;
        margin: 40px 0;
      }
    }
  }

  @media only screen and (max-width: 767px){
    .aligner{
      flex-direction: column;
      .gold,.silver,.bronze{
        .img-aligner{
          display: block;
          min-height: auto;
        }
      }
    }
  }

}
//
// .support{
//   background-color: #fff;
//
//   .aligner{
//     margin-top: 40px;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     .support-item{
//       width: calc(100% * (1/4) - 10px - 1px);
//       margin: 24px 0;
//       img{
//         width: 100px;
//         height: 100px;
//       }
//     }
//   }
//
//   @media only screen and (max-width: 767px){
//     .aligner{
//       .support-item{
//         width: calc(100% * (1/2) - 10px - 1px);
//       }
//     }
//   }
//
// }
