.talkers{
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .talkers-title{
    margin: 60px 0 70px;
    align-self: flex-start;
    text-align: center;
    width: 100%;
    h1{
      font-size: 36px;
      font-weight: 300;
    }
  }

  .star-left{
    margin-bottom: 200px;
  }

  .star-right{
    margin-top: 78px;
  }

  .star-left, .star-right{
    float: left;
  }

  .talkers-box{
    max-width: 63%;
    .talker{
      margin: 0 20px 60px;
      float: left;
      img{
        max-width: 160px;
        height: auto;
        display: block;
      }
    }
  }

  &.lightning{
    .talkers-box{
      max-width:46%;
      .talker{
        margin: 0 13px 60px;
        float: left;
        img{
          max-width: 120px;
          height: auto;
          display: block;
        }
      }
    }
  }

}
