section.welcome{
  background: url(/images/bg-welcome.png) top center / cover fixed;
  overflow: hidden;

  img.front-in-vale{
    animation: front-in-vale 10s ease-out infinite;
  }

  p{
    font-weight: 100;
    color: #fff;
    margin-top: 12px;
  }

  a{
    display: block;
    border-radius: 2px;
    background-color: #cddc39;
    max-width: 165px;
    margin: 30px auto;
    padding: 15px 0 14px;
    font-weight: 500;
    color: #212121;
    &:visited{
      color: #212121;
    }
  }

  .middle {
    padding: 150px 20px 40px;
    position: fixed;
    left: 50%;
    width: 100%;
    max-width: 600px;
    transform: translate(-50%, -50%);
  }

  @media only screen and (min-width: 768px){
    .middle {
      top: 75%;
    }
  }

  @media only screen and (max-width: 767px){
    background: url(/images/bg-welcome-mobile.png) top center / cover;
    .middle {
      top: 67%;
      position: absolute;
    }
  }

  @keyframes front-in-vale {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(-0.75em);
    }
    20% {
      opacity: 1;
    }
    89% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }

}
