section#about.about
  .about-box
    .image
      img(src='images/about.png')
    div.text
      h1 SOBRE
      p Primeiro evento de tecnologia no Vale do Paraíba focado em Front End. A primeira edição rolou em 2015, no Faro Hotel. Agora estamos na nossa terceira edição, com a temática Star Wars. Esperamos por você!
  
  
