section#contact.contact
  h1.title CONTATO
  .middle
    .contact
      p 
        |Quer saber mais? Entre em contato com a gente
      h4
        |contato@frontinvale.com.br
      .socials
        p
          |Ou nos acompanhe nas redes sociais
        a(target="_blank", href='https://www.facebook.com/frontinvale')
          img(src='images/ic-facebook.svg')
        a(target="_blank", href='https://twitter.com/frontinvale')
          img(src='images/ic-twitter.svg')
    .ilustra
      img(src='images/contact.svg')
  .host
    h1.title.white REALIZAÇÃO
    a(target="_blank", href='http://designa.com.br')
      img(src='images/logo-designa.svg')
    a(target="_blank", href='http://css4html.com.br/')
      img(src='images/logo-css4html.svg')
  footer ©Copyright 2017 - todos os direitos reservados - 
    a(target="_blank" href='http://www.codamos.club/codigo-de-conduta')
      |Código de conduta
    
