section#contact.contact
  h1.title CONTATO
  .middle
    .contact
      p 
        |Quer saber mais? Entre em contato com a gente
      h4
        |contato@frontinvale.com.br
      .socials
        p
          |Ou nos acompanhe nas redes sociais
        a(href='https://www.facebook.com/frontinvale')
          img(src='images/ic-facebook.svg')
        a(href='https://twitter.com/frontinvale')
          img(src='images/ic-twitter.svg')
    .ilustra
      img(src='images/contact.svg')
  .host
    h1.title.white REALIZAÇÃO
    img(src='images/logo-designa.svg')
    img(src='images/logo-css4html.svg')
  footer ©Copyright 2016 - todos os direitos reservados
    
