header
  input#menu-control(type='checkbox', name='menu-control')
  label.menu-control(for='menu-control')
  label.menu-control-close(for='menu-control')
  nav
    ul
      li
        a.fv-on(href='#about') SOBRE
      li
        a(href='#talkers') PALESTRANTES
      li
        a(href='#schedule') PROGRAMAÇÃO
      li
        a(href='#place') LOCAL
      li
        a(href='#sponsors') PATROCINADORES
      li
        a(href='#contact') CONTATO
      li
        a(href='https://www.sympla.com.br/frontinvale-2017__130049', target='_blank') INSCREVA-SE
