section#place.place
  .place-title
    h1.title.white LOCAL
  .place-info
    #iframe-box
      iframe#iframe(scrolling='no', frameborder='0', allowfullscreen, height='250', width='500', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.209310065563!2d-45.88597118520697!3d-23.199041454196493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc4a42f3190209%3A0x91ee04f155df318e!2sFaro+Hotel!5e0!3m2!1spt-BR!2sbr!4v1493728635816')
    .info
      h3 Hotel Faro
      p
        |Rua Síria, 25
        br
        |Jardim Oswaldo Cruz
        br
        |São José dos Campos - SP
        br
        |CEP 12216-540
        br
        |(12) 3512-9600
        a(target="_blank", href="https://www.google.com.br/maps/dir/''/faro+hotel+s%C3%A3o+jos%C3%A9+dos+campos/data=!4m5!4m4!1m0!1m2!1m1!1s0x94cc4a42f3190209:0x91ee04f155df318e?sa=X&ved=0ahUKEwijkpKi7NjTAhVIvZAKHXfSC0UQ9RcIsQEwDQ")
          |COMO CHEGAR
