section#schedule.schedule
  h1.title PROGRAMAÇÃO
  .timeline
    .entries
      .entry
        .title 08:00
        .body
          p Credenciamento / Welcome Coffee
      .entry
        .title 08:40
        .body
          p Abertura Oficial
      .entry
        .title 09:00
        .body
          p CSS Grid Layout
          p
            span Maujor
      .entry
        .title 10:00
        .body
          p React, o mindset inicial de estado
          p
            span Camila Belo
      .entry
        .title 11:00
        .body.lightning
          p Lightning Talks
          p
            |O time é um reflexo de quem o lidera
            br
            span Keit Oliveira
          p
            |Usabilidade e as 10 Heurísticas de Nielsen
            br
            span Mariana Rondino
          p
            |Daltonismo no Desenvolvimento Web
            br
            span Lucas J Silva
          p
            |% Pixels são importantes %
            br
            span Paula Diniz
      .entry
        .title 12:00
        .body
          p Almoço
      .entry
        .title 13:30
        .body
          p Gênero e Desenvolvimento de Software: A Visão da Recruiter
          p
            span Gabi Casagranda
      .entry
        .title 14:30
        .body
          p Jogos: indo além do simples CSS
          p
            span Fernanda Bernardo
      .entry
        .title 15:30
        .body
          p Coffee break
      .entry
        .title 16:00
        .body.lightning
          p Lightning Talks
          p
            |Ember.js: passado, presente e futuro
            br
            span Danilo Vaz
          p
            |Caipirinha CSS
            br
            span Andréa Zambrana
          p
            |Porque VueJS está conquistando o desenvolvimento frontend?
            br
            span Thomas Alvarenga
          p
            |Construindo SPA's consistentes com Vue Router
            br
            span Gustavo Guimarães
      .entry
        .title 17:00
        .body
          p DevUX
          p
            span Edu Agni
      .entry
        .title 18:00
        .body
          p Boas práticas em arquiteturas de SPA e PWA's
          p
            span William Grasel
      .entry
        .title 19:00
        .body
          p Encerramento
          p
            span Aguarde surpresas!
