section#schedule.schedule
  h1.title PROGRAMAÇÃO
  .timeline
    .entries
      .entry
        .title 08:00
        .body
          p Credenciamento / Welcome Coffee
      .entry
        .title 08:40
        .body
          p Abertura Oficial
      .entry
        .title 09:00
        .body
          p Palestra #1
          p
            span Em breve 
      .entry
        .title 10:00
        .body
          p Palestra #2
          p
            span Em breve
      .entry
        .title 11:00
        .body.lightning
          p Lightning Talks
          p
            |Lightning Talk #1 
            span - Em breve
          p
            |Lightning Talk #2 
            span - Em breve
          p
            |Lightning Talk #3 
            span - Em breve
          p
            |Lightning Talk #4 
            span - Em breve
      .entry
        .title 12:00
        .body
          p Almoço
      .entry
        .title 13:30
        .body
          p Palestra #3
          p
            span Em breve
      .entry
        .title 14:30
        .body
          p Palestra #4
          p
            span Em breve
      .entry
        .title 15:30
        .body
          p Coffee break
      .entry
        .title 16:00
        .body.lightning
          p Lightning Talks
          p
            |Lightning Talk #5 
            span - Em breve
          p
            |Lightning Talk #6
            span - Em breve
          p
            |Lightning Talk #7
            span - Em breve
          p
            |Lightning Talk #8
            span - Em breve
      .entry
        .title 17:00
        .body
          p Palestra #5
          p
            span Em breve
      .entry
        .title 18:00
        .body
          p Palestra #6
          p
            span Em breve
      .entry
        .title 19:00
        .body
          p Encerramento
          p
            span Aguarde surpresas!
