section#schedule.schedule
  h1.title PROGRAMAÇÃO
  .timeline
    .entries
      .entry
        .title 08:00
        .body
          p Credenciamento / Welcome Coffee
      .entry
        .title 08:40
        .body
          p Abertura Oficial
      .entry
        .title 09:00
        .body
          p Título da palestra
          p
            span Nome do palestrante - Descrição da palestra. Se ela for longa, ela estenderá até o seu fim. 
      .entry
        .title 10:00
        .body
          p Título da palestra
          p
            span Nome do palestrante
      .entry
        .title 11:00
        .body
          p Lightning Talk #1
          p
            |Nome do lightning talker 1 
            span - Descrição da palestra. Se ela for longa, ela estenderá até o seu fim.
          p
            |Nome do lightning talker 2 
            span - Descrição da palestra. Se ela for longa, ela estenderá até o seu fim.
          p
            |Nome do lightning talker 3 
            span - Descrição da palestra. Se ela for longa, ela estenderá até o seu fim.
          p
            |Nome do lightning talker 4 
            span - Descrição da palestra. Se ela for longa, ela estenderá até o seu fim.
      .entry
        .title 12:00
        .body
          p Almoço
      .entry
        .title 13:30
        .body
          p Título da palestra
          p
            span Nome do palestrante
      .entry
        .title 14:30
        .body
          p Título da palestra
          p
            span Nome do palestrante - Descrição da palestra. Se ela for longa, ela estenderá até o seu fim.
      .entry
        .title 15:30
        .body
          p 
      .entry
        .title 16:00
        .body
          p Lightning Talk #1
          p
            |Nome do lightning talker 1 
            span - Descrição da palestra. Se ela for longa, ela estenderá até o seu fim.
          p
            |Nome do lightning talker 2 
            span - Descrição da palestra. Se ela for longa, ela estenderá até o seu fim.
          p
            |Nome do lightning talker 3 
            span - Descrição da palestra. Se ela for longa, ela estenderá até o seu fim.
          p
            |Nome do lightning talker 4 
            span - Descrição da palestra. Se ela for longa, ela estenderá até o seu fim.
      .entry
        .title 17:00
        .body
          p Título da palestra
          p
            span Nome do palestrante - Descrição da palestra. Se ela for longa, ela estenderá até o seu fim.
      .entry
        .title 18:00
        .body
          p Título da palestra
          p
            span Nome do palestrante
      .entry
        .title 19:00
        .body
          p Encerramento
          p
            span Aguarde surpresas!
