section#speakers.speakers
  h1.title PALESTRANTES
  .speakers-box
    .left-star
      img.star(src='images/estrelas-direita.svg')
    .center-speakers
      each speaker in speakers
        .speaker 
          img(src='images/'+speaker.photo, alt=speaker.name)
          .speaker-name
            = speaker.name
          .speaker-info
            = speaker.info
    .right-star
      img.star(src='images/estrelas-esquerda.svg')

section.speakers.lightning
  h1.title LIGHTNING TALKS
  div.description
    p São palestras rápidas de 10 minutos onde você tem a chance de mostrar sua força! 
    p Tá afim de palestrar? Então, submeta agora mesmo sua lightning talk através do nosso formulário: 
    a(href='http://bit.ly/frontinvalec4p-2017', target='_blank') SUBMETER

  .speakers-box
    .center-speakers
      each speaker in lightningSpeakers
        .speaker 
          img(src='images/'+speaker.photo, alt=speaker.name)
          .speaker-name
            = speaker.name
          .speaker-info
            = speaker.info

section.speakers.mc
  h1.title APRESENTAÇÃO
  div.description
    p Este ano o FronInVale será apresentado por dois grandes nomes da comunidade front-end 

  .speakers-box
    .center-speakers
      each speaker in mcs
        .speaker 
          img(src='images/'+speaker.photo, alt=speaker.name)
          .speaker-name
            = speaker.name
          .speaker-info
            = speaker.info
