section#speakers.speakers
  h1.title PALESTRANTES
  div.speakers-box
    div.left-star
      img.star(src='images/estrelas-direita.svg')
    div.center-speakers
      each speaker in speakers
        div.speaker 
          img(src='images/'+speaker.photo)
    div.right-star
      img.star(src='images/estrelas-esquerda.svg')
section.speakers.lightning
  h1.title LIGHTNING TALKS
  div.speakers-box
    .center-speakers
      each speaker in lightningSpeakers
        div.speaker 
          img(src='images/'+speaker.photo)
  
