section#speakers.speakers
  div.speakers-title
    h1 PALESTRANTES
  div.speakers-box
    div.star-left
      img.star(src='images/estrelas-direita.svg')
    each speaker in speakers
      div.speaker 
        img(src='images/'+speaker.photo)
    div.star-right
      img.star(src='images/estrelas-esquerda.svg')
section.speakers.lightning
  div.speakers-title
    h1 LIGHTNING TALKS
  div.speakers-box
    each speaker in lightningSpeakers
      div.speaker 
        img(src='images/'+speaker.photo)
  
