section#speakers.speakers
  h1.title PALESTRANTES
  .speakers-box
    .left-star
      img.star(src='images/estrelas-direita.svg')
    .center-speakers
      each speaker in speakers
        .speaker 
          img(src='images/'+speaker.photo, alt=speaker.name)
          .speaker-name
            = speaker.name
          .speaker-info
            = speaker.info
    .right-star
      img.star(src='images/estrelas-esquerda.svg')
section.speakers.lightning
  h1.title LIGHTNING TALKS
  .speakers-box
    .center-speakers
      each speaker in lightningSpeakers
        .speaker 
          img(src='images/'+speaker.photo, alt=speaker.name)
          .speaker-name
            = speaker.name
          .speaker-info
            = speaker.info
  
