section#sponsors.sponsors
  h1.title PATROCINADORES
  .aligner
    .sponsor-item
      .img-aligner
        a(href='https://www.back4app.com/', target='_blank')
          img(src='images/sponsors/back4app.svg')
    .sponsor-item
      .img-aligner
        a(href='https://quero.education', target='_blank')
          img(src='images/sponsors/quero-educacao.svg')
    .sponsor-item
      .img-aligner
        a(href='https://www.toptal.com', target='_blank')
          img(src='images/sponsors/toptal.svg')
    .sponsor-item
      .img-aligner
        a(href='https://www.allgoo.com.br/', target='_blank')
          img(src='images/sponsors/allgoo.svg')
  h1.title APOIADORES
  .aligner.support
    .support-item
      a(href='http://meetup.com/gdgvaledoparaiba', target='_blank')
        img(src='images/sponsors/gdgvaledoparaiba.svg')
    .support-item
      a(href='http://justto.com.br', target='_blank')
        img(src='images/sponsors/justto.png')
    .support-item
      a(href='https://novatec.com.br', target='_blank')
        img(src='images/sponsors/novatec.svg')
  .aligner.support
    .support-item
      a(href='https://www.facebook.com/codamosclub', target='_blank')
        img(src='images/sponsors/codamos.svg')
    .support-item
      a(href='https://www.stickermule.com/uses/laptop-stickers', target='_blank')
        img(src='images/sponsors/stickermule.svg')
    .support-item
      a(href='https://github.com/training-center/mentoria', target='_blank')
        img(src='images/sponsors/training-center.svg')
  .aligner.support
    .support-item
      a(href='https://www.eucompraria.com.br', target='_blank')
        img(src='images/sponsors/eucompraria.png')
    .support-item
      a(href='https://www.alura.com.br', target='_blank')
        img(src='images/sponsors/alura.svg')
    .support-item
      a(href='https://www.casadocodigo.com.br', target='_blank')
        img(src='images/sponsors/casadocodigo.svg')
  .aligner.support
    .support-item
      a(href='https://zeplin.io', target='_blank')
        img(src='images/sponsors/zeplin.svg')
    .support-item
      a(href='https://www.sketchapp.com', target='_blank')
        img(src='images/sponsors/sketch.svg')
    .support-item
      a(href='http://devnaestrada.com.br/', target='_blank')
        img(src='images/sponsors/devnaestrada.png')
  .aligner.support
    .support-item
      a(href='https://compilagrao.com.br/', target='_blank')
        img(src='images/sponsors/compilagrao.svg')
    .support-item
      a(href='https://imasters.com.br', target='_blank')
        img(src='images/sponsors/imasters.svg')
    .support-item
      a(href='http://unisal.br', target='_blank')
        img(src='images/sponsors/unisal.svg')
