section#sponsors.sponsors
  h1.title PATROCINADORES
  .aligner
    .gold
      span
        |Ouro
      .img-aligner
        img(src='images/sponsors/sponsor.png')
    .silver
      span
        |Prata
      .img-aligner
        a(href='https://www.back4app.com/', target='_blank')
          img(src='images/sponsors/back4app.svg')
    .bronze
      span
        |Bronze
      .img-aligner
        img(src='images/sponsors/sponsor.png')
  h1.title APOIADORES
  .aligner.support
    .support-item
      img(src='images/sponsors/sponsor.png')
    .support-item
      img(src='images/sponsors/sponsor.png')
    .support-item
      img(src='images/sponsors/sponsor.png')
    .support-item
      img(src='images/sponsors/sponsor.png')
