section#sponsors.sponsors
  h1.title PATROCINADORES
  .aligner
    .sponsor-item
      span
        |Prata
      .img-aligner
        a(href='https://www.back4app.com/', target='_blank')
          img(src='images/sponsors/back4app.svg')
    .sponsor-item
      span
        |Prata
      .img-aligner
        a(href='https://quero.education', target='_blank')
          img(src='images/sponsors/quero-educacao.svg')
  h1.title APOIADORES
  .aligner.support
    .support-item
      a(href='http://meetup.com/gdgvaledoparaiba', target='_blank')
        img(src='images/sponsors/gdgvaledoparaiba.svg')
    .support-item
      a(href='https://www.facebook.com/uilabschool', target='_blank')
        img(src='images/sponsors/uilab.svg')
    .support-item
      a(href='https://novatec.com.br', target='_blank')
        img(src='images/sponsors/novatec.svg')
  .aligner.support
    .support-item
      a(href='https://www.facebook.com/codamosclub', target='_blank')
        img(src='images/sponsors/codamos.svg')
    .support-item
      a(href='https://www.stickermule.com/uses/laptop-stickers', target='_blank')
        img(src='images/sponsors/stickermule.svg')
    .support-item
      a(href='https://github.com/training-center/mentoria', target='_blank')
        img(src='images/sponsors/training-center.svg')
  .aligner.support
    .support-item
      a(href='https://www.eucompraria.com.br', target='_blank')
        img(src='images/sponsors/eucompraria.png')
    .support-item
      a(href='https://www.alura.com.br', target='_blank')
        img(src='images/sponsors/alura.svg')
    .support-item
      a(href='https://www.casadocodigo.com.br', target='_blank')
        img(src='images/sponsors/casadocodigo.svg')
