section#sponsors.sponsors
  h1.title PATROCINADORES
  .diamond
    |Diamante
    br
    img(src='images/sponsor.png')
  .aligner
    .gold
      |Ouro
      br
      img(src='images/sponsor.png')
    .silver
      |Prata
      br
      img(src='images/sponsor.png')
    .bronze
      |Bronze
      br
      img(src='images/sponsor.png')
section.support
  h1.title APOIADORES
  .aligner
    img(src='images/sponsor.png')
    img(src='images/sponsor.png')
    img(src='images/sponsor.png')
    img(src='images/sponsor.png')
  .aligner.middle
    img(src='images/sponsor.png')
    img(src='images/sponsor.png')
    img(src='images/sponsor.png')
  .aligner
    img(src='images/sponsor.png')
    img(src='images/sponsor.png')
    img(src='images/sponsor.png')
    img(src='images/sponsor.png')
    
  
