section#sponsors.sponsors
  h1.title PATROCINADORES
  .aligner
    .gold
      span
        |Prata
      .img-aligner
        a(href='https://www.back4app.com/', target='_blank')
          img(src='images/sponsors/back4app.svg')
    .silver
      span
        |Prata
      .img-aligner
        a(href='https://quero.education', target='_blank')
          img(src='images/sponsors/quero-educacao.svg')
    .bronze
      span
        |Bronze
      .img-aligner
        img(src='images/sponsors/sponsor.png')
  h1.title APOIADORES
  .aligner.support
    .support-item
      a(href='http://meetup.com/gdgvaledoparaiba', target='_blank')
        img(src='images/sponsors/gdgvaledoparaiba.svg')
    .support-item
      a(href='https://www.facebook.com/uilabschool', target='_blank')
        img(src='images/sponsors/uilab.svg')
    .support-item
      a(href='https://novatec.com.br', target='_blank')
        img(src='images/sponsors/novatec.svg')
    .support-item
      a(href='https://www.facebook.com/codamosclub', target='_blank')
        img(src='images/sponsors/codamos.svg')
